.app-sidebar-container[b-lb4m8dnnn1] {
  width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.user-button[b-lb4m8dnnn1], .notification-button[b-lb4m8dnnn1], .toggle-sidebar[b-lb4m8dnnn1], .add-task[b-lb4m8dnnn1] {
  margin: 10px;
}

.user-avatar img[b-lb4m8dnnn1] {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.sidebar-nav ul[b-lb4m8dnnn1] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li[b-lb4m8dnnn1] {
  margin: 5px 0;
}

.sidebar-nav a[b-lb4m8dnnn1] {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.add-task span[b-lb4m8dnnn1] {
  margin-left: 5px;
}
